<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Iris  Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_api')}}"method="post">
    	<input type="number" step=any name="sepal length (cm)" placeholder="sepal length (cm)" required="required" />
        <input type="number" step=any name="sepal width (cm)" placeholder="sepal width (cm)" required="required" />
    <input type="number" step=any name="petal length (cm)" placeholder="petal length (cm)" required="required" />
    <input type="number" step=any name="petal width (cm)" placeholder="petal width (cm)" required="required" />

        <button type="submit" name="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <h3>{{ prediction_text }}</h3>
   <h3>{{ error_text }}</h3>

 </div>


</body>
</html>
